@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Bold.ttf') format('truetype'),
    url('/fonts/Benzin-Medium.ttf') format('truetype'),
    url('/fonts/Benzin-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.auth,
h1,
h2,
h3,
h4,
h5,
p,
h6,
.dashboard,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Schibsted Grotesk", sans-serif !important
}

@font-face {
  font-family: 'BlackHanSans';
  src: url('/fonts/BlackHanSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-primary: #1969FE;
  --color-gray: #E5E5E5;
  --color-bg: #FCFCFC;
  --color-bg-light: #F4F4F4;
  --color-accent: #E5F4FF;
  --color-text-muted: #6C6C6C;
  --color-text-dark: #232323;
  --color-text-darker: #202426;
  --color-bg-lighter: #F8F8F8;
  --color-warning: #FBBC05;
  --color-warning-bg: #FFF8E6;
  --color-warning-text: #644B02;
  --color-border-muted: #B6B6B6;
  --color-bg-dark: #FBFBFB;
  --color-primary-dark: #0077cc;
  --color-bg-gray: #F6F6F6;
  --color-border-light: #D8DADE;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #F8F8F8;
  /* max-width: 1800px; */
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BlackHanSans';
  color: #232323;
}

ul li {
  list-style-type: disc !important;
}

.cta {
  background: url(/images/cta-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  backdrop-filter: blur(20px);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input,
textarea,
select {
  font-size: 16px;
}

button {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #F4F4F4 url('data:image/svg+xml;utf8,<svg fill=\"%230095FF\" height=\"20\" viewBox=\"0 0 20 20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M7.293 7.293a1 1 0 011.414 0L10 8.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z\"/></svg>') no-repeat right 10px center/1.25em;
  padding-right: 0rem;
  /* default is right .75rem center */
}

.transition-width {
  transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalIn {
  animation: modalIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}