@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Bold.ttf') format('truetype'),
       url('/fonts/Benzin-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

body {
  font-family: "Hanken Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Benzin';
  color: #232323;
}

ul li {
  list-style-type: disc !important;
}

.cta{
  background: url(/images/cta-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur{
  backdrop-filter: blur(20px);
}